body {
    background-color: #B0926A;
    align-items: center;
    justify-content: center;

}

hr {
    border-color: black;
}

* {
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

img {
    max-width: 30%;
    height: auto;

}

.side-align {

    display: flex;
    float: left;
    max-width: 100%;
    height: auto;
    margin: 60px;

}

.text {
    margin: 20px;
    width: 40%;
}

::placeholder {
    text-align: center;
}

footer {

    background-color: #FAE7C9;
    text-align: center;
    padding: 10px;
}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
}
.image-container img {
    margin: 3px;

}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%;
  }
  